/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

input.inline,
textarea.inline,
select.inline {
  width: auto;
}

input.inline[type='number'] {
  width: 4em;
}

.layout_margin_user_input label {
  text-align: right;
  display: block;
}

section label {
  margin: 0;
  line-height: 2.25rem;
}
